body {
  display:grid;
  background-color: rgb(168, 104, 228);
  color: rgb(7, 7, 244);
  text-shadow: 1px 1px black;
  font-size: xx-large;
  text-align: center;
}
a:hover { 
  background-color:lightseagreen;
}
.grid {
  display: flex;
  justify-content: space-around;
}
main {
  margin: 100px;
}

#cosmos, #vybes-chaser, #aura{
width:200px;
display:block;
border:2px solid cyan;
}

@media (max-width:720px ){
  body {
    background-color:rgb(7, 7, 244);
    color: rgb(168, 104, 228);
    font-size: x-large;
    text-align: center;
  }

  #cosmos, #vybes-chaser, #aura{
    width:150px;
    display:block;
    border:2px solid cyan;
    }
}