body {
  /* display:grid; */
  background-color: rgb(168, 104, 228);
  color: rgb(7, 7, 244);
  font-size: xx-large;
  text-align: center;
}
.grid {
  display: flex;
  justify-content: space-around;
}

#cosmos, #vybes-chaser, #aura{
width:200px;
display:block;
border:2px solid cyan;
}

@media (max-width:720px ){
  body {
    /* display:grid; */
    background-color:rgb(7, 7, 244);
    color: rgb(168, 104, 228);
    font-size: x-large;
    text-align: center;
  }
  #cosmos {width: 200px;
    height: 200px
  }
  #vybes-chaser {width: 200px;
    height: auto
  }
  #aura {width: 200px;
    height: 200px
  }
}