body {
  background-color: white;
  color: black;
  font-size: xx-large;
  text-align: center;
}

a:hover { 
  background-color:lightseagreen;
}

main {
  margin: 100px;
}

@media (max-width: 720px) {
  body {
    background-color: black;
    color: white;
    font-size: large;
  }
}
