body {
  margin: 125px;
  background-color: green;
  font-family: sans-serif;
  color: white;
  font-size: xx-large;
}

@media (max-width: 720px) {
  body {
    background-color: white;
    color: green;
    font-size: large;
  }
}
