body {
  display: grid;
  font-style: italic;
  text-align: center;
  font-size: xx-large;
}

header {
  text-align: center;
  font-size: x-large;
}

#about-the-creator:hover {
  background-color: rgb(4, 146, 4);
}

#did-you-know:hover {
  background-color: red;
}

form {
  text-align: center;
  font-size: x-large;
  color: red;
}
.crainbow {
  text-shadow: 1px 1px black;
}
#b {
  color: black;
  text-shadow: 1px 1px black
}

#r {
  color: red;
  text-shadow: 1px 1px black
}

#bl {
  color: blue;
  text-shadow: 1px 1px black
}

#y {
  color: rgb(225, 225, 33);
  text-shadow: 1px 1px black
}

#g {
  color: green;
  text-shadow: 1px 1px black
}

.selection {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 75px;
}

#black:hover {
  background-color: black;
  color: white;
}

#white {
  background-color: white;
  color: black;
}

#red:hover {
  background-color: red;
  color: white;
}

#blue:hover {
  background-color: blue;
  color: white;
}

#yellow:hover {
  background-color: yellow;
  color: white;
}
#green:hover {
  background-color: green;
  color: white;
}

.grid {
  padding: 50px;
}

@media (max-width: 720px) {
  #b {
    color: green;
    text-shadow: 1px 1px black
  }

  #r {
    color: rgba(232, 232, 29, 0.817);
    text-shadow: 1px 1px black
  }

  #bl {
    color: blue;
    text-shadow: 1px 1px black
  }

  #y {
    color: red;
    text-shadow: 1px 1px black
  }

  #g {
    color: black;
    text-shadow: 1px 1px black
  }

  img {
    width: 400px;
    height: auto;
  }
}
