body { display: grid;
    font-style: italic; 
}

header{text-align: center;
    font-size: x-large;
}

#about-the-creator:hover {
    background-color: rgb(4, 146, 4)
}

#did-you-know:hover {
    background-color: red
}

form {text-align: center;
    font-size: x-large;
    color: red   
}

.selection {
    font-size: x-large;  
}

img {
    /* center the image */
    margin-top: 50px;
    margin-left: 250px; 
}

