body {
  margin: 125px;
  background-color: white;
  font-family: sans-serif;
  color: black;
  font-size: xx-large;
}

@media (max-width: 720px) {
  body {
    background-color: black;
    color: white;
    font-size: large;
  }
}
