body {
  margin: 125px;
  background-color: yellow;
  font-family: sans-serif;
  color: black;
  font-size: xx-large;
}

a:hover { 
  background-color:lightseagreen;
}

@media (max-width: 720px) {
  body {
    background-color: white;
    color: rgb(222, 222, 19);
    text-shadow: 1px 1px black;
    font-size: large;
  }
}
